{% load static %}
<div id="header-wrap">

    <div class="top-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="main-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'image/gb.png' %}"  alt="logo"></a>
                    </div>

                </div>
                
                <div class="col-md-10">
                    <div class="right-element" style="margin-top:20px">
                        <a href="{% url 'logout'  %}" class="user-account for-buy">
                            <i class="fas fa-sign-out-alt" style="color: red;"></i><span style="color:red;"> Log Out</span></a>
                        

                        

                    </div><!--top-right-->
                </div>

            </div>
        </div>
    </div><!--top-content-->

    <header id="header">
        <div class="container-fluid">
            <div class="row">

                

                <div class="col-md-8">

                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <li class="menu-item active"><a href="{% url 'home' %}">Home</a></li>
                               
                               
                                
                                
                                <li class="menu-item"><a href="{% url 'home' %}#all_books" class="nav-link">Books</a></li>
                                <li class="menu-item"><a href="{% url 'home' %}#popular-books" class="nav-link">popular books</a></li>
                                <li class="menu-item"><a href="#latest-blog" class="nav-link">Articles</a></li>

                                
                                
                                
                            </ul>

                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>

                        </div>
                    </nav>

                </div>
                <div class="col-md-2">
                    <div class="right-element">
                        
                        

                        <div class="action-menu">

                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                    <i class="icon icon-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box" action="{% url 'home' %}">
                                    <input class="search-field text search-input" placeholder="Search" name="Search"
                                        type="search">
                                    
                                </form>
                            </div>
                        </div>

            </div>
        </div>
    </header>

</div><!--header-wrap-->