{% extends "./index.html"%}
{% load static %}
{% block title %}
{% if not is_search %}
home
{% else %}
{{search}}
{% endif %}
{% endblock %}
{% block conetent %}






<section id="all_books">
    
    {% if is_search %}
    <br>
    <div class="section-header align-center">
        
        <div class="title">
            
            
            
            <span>{{search}}</span>
            <br>
            <br>
            
            

        </div>
        
        
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            {% if not is_search %}
            <div class="col-md-12">


                <ul class="tabs">
                   
                    <li data-tab-target="#all-genre" class="active tab">All Genre</li>
                    {% for tag in tags %}
                    <li data-tab-target="#{{ tag.nom_tag }}" class="tab">{{tag.nom_tag}}</li>
                    {% endfor %}
                    

                </ul>
                {% endif %}

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                     
                        <div class="row">
                            {% for book in books %}
                           
                            
                           
                            <div class="col-md-3">
                                <div class="product-item">
                                    <a href="{% url 'single_book' id_book=book.id_livre   borrowed=book.titre %}">
                                    <figure class="product-style" style="border-radius:20px">
                                        <img src="{{book.image.url}}" alt="Books" class="product-item" style="width: 300px; height: 385px;">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">order</button>
                                    </figure>
                                </a>
                                    <figcaption>
                                        <h3>{{book.titre}}</h3>
                                      
                                        <span>{{book.auteur}}</span>
                                        
                                       
                                    </figcaption>
                                </div>
                            </div>
                            
                            {% endfor %}

                            

                        </div>
                        

                        </div>

                    </div>
                    {% if not is_search %}
                {% for tag in tags%}
                    <div id="{{tag.nom_tag}}" data-tab-content>
                        <div class="row">
                            
                                {% for book in books %}
                                
                                {% for tag_in_book in book.tags.all %}
                                
                                {% if tag_in_book.nom_tag == tag.nom_tag %}
                            {% comment %} <h1>   {{tag.nom_tag}} {{tag_in_book.nom_tag}} </h1> {% endcomment %}
                               
                            <div class="col-md-3">
                                <div class="product-item">
                                    <a href="{% url 'single_book' id_book=book.id_livre   borrowed=book.titre %}">
                                    <figure class="product-style">
                                        <img src="{{book.image.url}}" alt="Books" class="product-item" style="width: 300px; height: 385px;">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">order</button>
                                    </figure>
                                </a>
                                    <figcaption>
                                        <h3>{{book.titre}}</h3>
                                      
                                        <span>{{book.auteur}}</span>
                                        
                                       
                                    </figcaption>
                                </div>
                            </div>

                                {% endif %}
                               
                                {% endfor %}
                                {% endfor %}

                        </div>

                           
                    </div>
                {% endfor %}
                {% endif %}

                    

                    

                </div>

            </div><!--inner-tabs-->

        </div>
    </div>
</section>
{% if not is_search %}
<br>
<br>
<br>
<br>
<br>
<br>

<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content">
        <h2 class="section-title divider">Quote</h2>
        <blockquote data-aos="fade-up">
            <q>“The more that you read, the more things you will know. The more that you learn, the more places
                you’ll go.”</q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>


<section id="popular-books" class="bookshelf pb-5 mb-5">

    <div class="section-header align-center">
        
        <h2 class="section-title">Popular books</h2>
    </div>

    <div class="container">
        <div class="row">
            {% for book in populaire %}
                           
                            
                           
            <div class="col-md-3">
                <div class="product-item">
                    <a href="{% url 'single_book' id_book=book.id_livre   borrowed=book.titre %}">
                    <figure class="product-style">
                        <img src="{{book.image.url}}" alt="Books" class="product-item" style="width: 300px; height: 385px;">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">order</button>
                    </figure>
                </a>
                    <figcaption>
                        <h3>{{book.titre}}</h3>
                      
                        <span>{{book.auteur}}</span>
                        
                       
                    </figcaption>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</section>

<section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">

                        <div class="title-element">
                            <h2 class="section-title divider">Subscribe to our newsletter</h2>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="subscribe-content" data-aos="fade-up">
                            <p>Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit
                                adipiscing enim pharetra hac.</p>
                            <form id="form">
                                <input type="text" name="email" placeholder="Enter your email addresss here">
                                <button class="btn-subscribe">
                                    <span>send</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Read our articles</span>
                    </div>
                    <h2 class="section-title">Latest Articles</h2>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up">

                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="images/post-img1.jpg" alt="post" class="post-image">
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">Mar 30, 2021</div>
                                <h3><a href="#">Reading books always makes the moments happy</a></h3>

                                <div class="links-element">
                                    <div class="categories">inspiration</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up" data-aos-delay="200">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="images/post-img2.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Mar 29, 2021</div>
                                <h3><a href="#">Reading books always makes the moments happy</a></h3>

                                <div class="links-element">
                                    <div class="categories">inspiration</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up" data-aos-delay="400">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="images/post-img3.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Feb 27, 2021</div>
                                <h3><a href="#">Reading books always makes the moments happy</a></h3>

                                <div class="links-element">
                                    <div class="categories">inspiration</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>

                </div>

                <div class="row">

                    <div class="btn-wrap align-center">
                        <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Read All Articles<i
                                class="icon icon-ns-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% else %}
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
{% endblock %}