{% extends "./index.html"%}
{% load static %}
{% block title %}

profile

{% endblock %}
{% block conetent %}
<section class="padding-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Unordered List</h3>
                <ul>
                    <li>CNE :</li>
                    <li>Name :</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                </ul>

            </div>
<div class="row">
    <div class="col-md-12">

        <hr>

        <h3>Table</h3>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dave Gamache</td>
                    <td>26</td>
                    <td>Male</td>
                    <td>San Francisco</td>
                </tr>
                <tr>
                    <td>Dwayne Johnson</td>
                    <td>42</td>
                    <td>Male</td>
                    <td>Hayward</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock %}